.fgx{
  border-bottom: 1px solid #eee;
}
.route-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.route-item{
  padding: 16px 0px;
  display: inline-block;
}